In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Users\rohit\OneDrive\Documents\Copy of vaccine_data.xlsx")

In [3]:
df

,userid,name,1st dose status,date of 1st dose,2nd dose status,date of 2nd dose
0,p001,Chandler,yes,2021-12-30,yes,2022-03-30
1,p002,Joey,yes,2023-01-12,no,NaT
2,p003,Monica,yes,2022-03-15,yes,2022-06-23
3,p004,Rachel,yes,2022-02-17,no,NaT
4,p005,Pheobe,yes,2022-01-18,yes,2022-05-08
5,p006,Jenny,yes,2022-04-21,yes,2022-08-04
6,p007,Mike,yes,2022-03-17,no,NaT
7,p008,Harvey,yes,2022-01-18,yes,2022-04-28
8,p009,Ted,yes,2021-12-15,yes,2022-04-24
9,p010,Barney,no,NaT,no,NaT
10,p011,Robin,no,NaT,no,NaT
11,p012,Lily,no,NaT,no,NaT
12,p013,Marshal,yes,2022-02-19,yes,2022-07-19
13,p014,Kathie,yes,2022-02-10,yes,2022-05-31
14,p015,Daniel,no,NaT,no,NaT
15,p016,Jessica,no,NaT,no,NaT
16,p017,Amanda,no,NaT,no,NaT
17,p018,Steve,yes,2022-12-12,no,NaT
18,p019,Tony,yes,2022-01-27,yes,2022-05-02
19,p020,Donna,yes,2022-04-02,no,NaT

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userid            20 non-null     object
 1   name              20 non-null     object
 2   1st dose status   20 non-null     object
 3   date of 1st dose  14 non-null     datetime64[ns]
 4   2nd dose status   20 non-null     object
 5   date of 2nd dose  9 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 1.1+ KB

In [5]:
import datetime
df["date of 1st dose"]=df["date of 1st dose"].dt.strftime("%d-%m-%Y")

In [6]:
df["date of 2nd dose"]=df["date of 2nd dose"].dt.strftime("%d-%m-%Y")

In [7]:
df

,userid,name,1st dose status,date of 1st dose,2nd dose status,date of 2nd dose
0,p001,Chandler,yes,30-12-2021,yes,30-03-2022
1,p002,Joey,yes,12-01-2023,no,NaN
2,p003,Monica,yes,15-03-2022,yes,23-06-2022
3,p004,Rachel,yes,17-02-2022,no,NaN
4,p005,Pheobe,yes,18-01-2022,yes,08-05-2022
5,p006,Jenny,yes,21-04-2022,yes,04-08-2022
6,p007,Mike,yes,17-03-2022,no,NaN
7,p008,Harvey,yes,18-01-2022,yes,28-04-2022
8,p009,Ted,yes,15-12-2021,yes,24-04-2022
9,p010,Barney,no,NaN,no,NaN
10,p011,Robin,no,NaN,no,NaN
11,p012,Lily,no,NaN,no,NaN
12,p013,Marshal,yes,19-02-2022,yes,19-07-2022
13,p014,Kathie,yes,10-02-2022,yes,31-05-2022
14,p015,Daniel,no,NaN,no,NaN
15,p016,Jessica,no,NaN,no,NaN
16,p017,Amanda,no,NaN,no,NaN
17,p018,Steve,yes,12-12-2022,no,NaN
18,p019,Tony,yes,27-01-2022,yes,02-05-2022
19,p020,Donna,yes,02-04-2022,no,NaN

In [8]:
import datetime
from datetime import date

def vaccination():
    "This function show candidate vaccination status with Date"
    # Admin login portal
    attempts = 3
    while attempts > 0:
        print(f"Welcome to Vaccination Portal")
        admin_id = input("Enter your admin id: ")
        password = input("Enter your password: ")
    
        if admin_id == "rohit" and password == "xyz":
            print("Login successful!")
            break
        else:
            attempts -= 1
            print(f"Invalid username or password. {attempts} attempts remaining.")

            if attempts == 0:
                print("Login failed. Maximum attempts reached.")
        print()       
    # Candidate Portal Login            
    while True:    
        username = input("Enter your Candidate id : ")

        for name in df[df["userid"] == username]["name"].values:
            print(f"Candidate Name: ",name)
        for status1 in df[df["userid"] == username]["1st dose status"].values:
            print(f"First Dose Status: ",status1)
        for status2 in df[df["userid"] == username]["2nd dose status"].values :
            print(f"Second Dose Status: ",status2)
        

            # Show the Status of 1st and 2nd dose:
            if status1=="yes" and status2=="yes":
                print(f"Hi {name} ! congrulatins you have completed vaccinated")
            elif status1=="no" and status2=="no":
                print(f"Hi {name} ! Please take your first dose at earliest")
            elif status1=="yes" and status2=="no":

    
                d1_date =df[df["userid"]==username]["date of 1st dose"].values[0]
                d1 = datetime.datetime.strptime(d1_date, "%d-%m-%Y").date()

                print(f"your 1st Dose Date : {d1_date}")
        
               # now date
                d2 = date.today()
                delta = (d2 - d1)


                # Check the second dose overdue day:    
                if delta.days > 90:
                    a=delta.days
                    print(f"Hi {name} ! Please take your 2nd dose at the earliest: {a}  overdue.")

                # check the second dose date after first dose:    
                elif delta.days < 90:
                    d3 = 90 - delta.days
                    d4 = d2 + d3
                    print(f"Hi {name} ! Please take your 2nd dose on or after: {d4}" )
            print()

In [ ]:
vaccination()

Welcome to Vaccination Portal

Enter your admin id:  rohit
Enter your password:  xyz

Login successful!

Enter your Candidate id :  p004

Candidate Name:  Rachel
First Dose Status:  yes
Second Dose Status:  no
your 1st Dose Date : 17-02-2022
Hi Rachel ! Please take your 2nd dose at the earliest: 521  overdue.